<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>de.ws1718.ismla.JapaneseHelper.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>de.ws1718.ismla.JapaneseHelper.JapaneseHelper LookupService</servlet-name>
    <servlet-class>de.ws1718.ismla.JapaneseHelper.server.LookupServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/JapaneseHelper/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>de.ws1718.ismla.JapaneseHelper.JapaneseHelper LookupService</servlet-name>
    <url-pattern>/JapaneseHelper/LookupService</url-pattern>
  </servlet-mapping>

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>JapaneseHelper.html</welcome-file>
  </welcome-file-list>

</web-app>
